<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home MercadoLiebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header class="encabezado">
        <div class="logo">
        <div class="imagen">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de Encabezado">
        </div>
        <div class="buscar">
            <form action=""><input type="text" placeholder="Buscar productos, marcas y algo más..."><button><i class="fas fa-search"></i></button></form>
        </div>
         <p class="subtitulo"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <section class="navegacion">
        <nav class="menu1">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul>
                <li><a href="">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        </section>
        <div class="conten-burger">
            <div class="burger"><i class="fas fa-bars"></i></div>
        </div>


        <div class="banner"> <img src="/images/img-home-banner.jpg" alt=""> </div>
    </header>

    <form action="/crear-producto" method="POST" class="create-forms">
    
    </form>



    
</body>

</html>